.rw-home {
  padding-top: 32px;
}

.rw-hero {
  padding: 10px 0 40px;
}
.rw-home-hero-container {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.rw-hero-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.05;
  margin: 0 0 16px;
  color: #234B52;
}

.rw-hero-subtitle {
  font-size: 18px;
  color: rgba(0,0,0,0.65);
  margin: 0 0 22px;
}

.rw-hero-actions {
  margin-top: 14px;
}

.rw-hero-image {
  width: 400px;
  height: 400px;
  border-radius: 24px;
  text-align: center;
}

/* section */

.rw-home-section-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.05;
  margin-top: 80px;
  color: #234B52;
}

.rw-home-steps {
  margin-bottom: 48px;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
}

.rw-home-step-title {
  font-weight: 700;
  color: #234B52;
}

.rw-home-step-description {
  flex: 1;
  color: rgba(0, 0, 0, 0.75);
}

.rw-home-step-icon {
  margin-top: 24px;
  font-size: 48px;
  color: #8CD5BA;
}

.rw-home-step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  background-color: #ffffff90;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 22px rgba(0,0,0,0.08);
}

/* section responsive */
@media (max-width: 768px) {
  .rw-home-steps {
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .rw-home-step {
    margin-bottom: 0;
    width: 100%;
    padding: 20px;
  }
}



/* responsive */
@media (max-width: 900px) {
  .rw-hero-title {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .rw-hero-title {
    font-size: 32px;
  }
  .rw-hero-image {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    margin-top: 16px;
    object-fit: cover;
    object-position: center;
  }
}
@media (max-width: 600px) {
  .rw-home-hero-container {
    flex-direction: column;
    align-items: center; /* Optional: Zentriert die Inhalte auf dem Handy */
  }
}
